/* * {
    border: 1px solid red;
} */
.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-around;
    flex-wrap: wrap;
} 

/* Header section */
.heading{
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 0.3rem solid #575757;
}
.menu {
    width: 100%;
    
}

li, a {
    display: inline;
    margin-right: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #575757;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* banner section */

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: #DEE1D4;
    width: 100%;
    /* margin-top: 50px; */
    height: 37.5rem;
    margin-right: 1.25rem;
    position: relative;
    border-top: 5px solid #575757;
    border-bottom: 5px solid #575757;
    flex-shrink: 3;
}

.shape {
    border-bottom-left-radius: 30%;
    border-top-left-radius: 50%;
    border: 5px solid #575757;
}

.companyname {
  margin-left: 15rem;
  /* margin-top: 8rem; */
  font-size: 3.5rem;
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 700; */
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  align-self: center;
  flex-shrink: 3;
}
/* Mission statement */

#Mission {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-content: center; */
    height: 25rem;
    align-items: space-between;
    flex-wrap: wrap;
    flex-shrink: 3;
}

h2 {
    align-self: center;
    font-size: 3.5rem;
    font-family:  'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    flex-shrink: 3;
}

.center {
    align-self: center;
    flex-shrink: 3;
}
p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    flex-shrink: 3;
} 
h3 {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    flex-shrink: 3;
}

/* Cruelty free and vegan cards */

.standards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #DEE1D4;
    padding-top: 0.6rem;
    flex-wrap: wrap;
}

.values {
    height: 300px;
    width: 400px;
    border-radius: 10%;
    border: 5px solid #575757;
    flex-shrink: 5;
}
.value {
    text-align: center;
    flex-shrink: 3;
}
/* PRODUCTS section*/

#products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
/* product cards */
.pro-card {
    display: flex;
    flex-direction: row;
    border: 5px solid #575757;
    margin-bottom: 0.625rem;
    flex-wrap: wrap;
}

.pro-img {
    height: 300px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.img {
    height: 500px;
    width: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.align {
    margin-left: 30px;
    text-align: justify;
    flex-wrap: wrap;
}

.name {
   font-weight: 800;
   margin-top: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.price {
    font-weight: bold;
    font-size: 2rem;
}
/* about us section */
#aboutUs {
    display: flex;
    flex-direction: column;
    background-color: #DEE1D4;
    flex-wrap: wrap;
}

.people {
    height: 400px;
    width: 300px;
    border: 5px solid #575757;
}

.members {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 5px solid #575757; */
    flex-wrap: wrap;
}

.role {
    font-style: italic;
    text-align: center;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.pup {
    width: 400px;
    height: 300px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family:  'Open Sans', sans-serif;
    font-weight: 700;
    width: 400px;
}

.p {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 400px;
}

.spaces {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contactH2 {
    text-align: center;
}